body{
    margin: 0px;
}

main{
    margin-left: 20px;
    margin-right: 20px;
}

h1{
    text-align: center;
}

.navbar ul{
    list-style-type: none; /*This remove the bullet points of the list*/
    background-color: rgb(112, 109, 109);
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

.navbar a{
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}

.navbar a:hover{
    background-color: lightblue;
}

.navbar li{
    float: left;
}